{namespace questions}

/**
 * Template of a page with all question sets
 * @param sets
 */
{template .allquestionsets}
	{call shared.header /}
	<h1>All sets</h1>
	{call shared.set.multiple data="all" /}
	<p><a href="/set/add">Add new set</a></p>
	{call shared.footer /}
{/template}