{namespace .questions}
/**
* Displays a single question
* @param content String holding content of the question.
* @param author String holding name of the question's author.
*/
{template .question}
<li>
	<p>{$content}</p>
	<p>author: {$author}</p>
</li>
{/template}
