{namespace questions}
/**
* Displays names of the question sets given
* @param name
* @param questionsets A list of question sets
*/
{template .user}
<h1>User '{$name}'</h1>
<ul>
	{foreach $questionset in $questionsets}
		<li>
			{$questionset.name}
	 	</li>
	{/foreach}
</ul>
{/template}
