{namespace main}

/**
 * Index template
 */
{template .index}
	{call shared.header /}
	<h1>Index</h1>
	<ul>
		<li><a href="question/">Question list</a></li>
		<li><a href="set/">Set list</a></li>
		<li><a href="addDemoData/">Add demo data</a></li>
	</ul>
	{call shared.footer /}
{/template}