{namespace shared}

/**
 * Displays page's header
 * @param? title
 */
{template .header}
<!doctype html>
<html>
	<head>
		<title>
			{if $title}
				{$title}&ensp;::&ensp;
			{/if}
			SettingWork Prototype
		</title>
		<link rel="stylesheet" href="/style.css" />
		<meta charset="utf-8" />
	</head>
	<body>
		<header>
			<h1><a href="/">SettingWork</a></h1>
		</header>
		<section>		
{/template}