{namespace shared}

/**
 * Displays page's header
 */
{template .header}
<!doctype html>
<html>
	<head>
		<title>SettingWork Week 1</title>
		<link rel="stylesheet" href="style.css" />
		<meta charset="utf-8" />
	</head>
	<body>
		<header>
			<h1>SettingWork</h1>
		</header>
		<section>		
{/template}