{namespace view.user}

/**
 * Will display the entire page of a user's questions
 * @param id
 * @param name Username
 * @param questions List of questions
*/
{template .questions}
	{call shared.header}
		{param title: $name+'\'s questions' /}
	{/call}
	<h1>All questions of user {$name}</h1>
	{call shared.question.multiple}
		{param questions: $questions /}
	{/call}
	<a href="/user/{$id}">Back to user profile</a>
	{call shared.footer /}
{/template}
	