{namespace view.user}

/**
* Displays entire page for the user summary
* @param name the user name
* @param id the user CRSID
*/
{template .summary}
	{call shared.header}
		{param title: $name+'\'s profile' /}
	{/call}
	<h1>User page for {$name} ({$id})</h1>
	<ul>
		<li><a href="/user/{$id}/sets">View question sets</a></li>
		<li><a href="/user/{$id}/questions">View all questions</a></li>
	</ul>
	<p><a href="/user/">Back to user list</a></p>
	{call shared.footer /}
{/template}