{namespace edit}

/**
 * Form for editing a question set
 * @param id
 * @param name
 */
{template .set}
	{call shared.header /}
	{if $id != 0}
		<h1>Editing set {$id}</h1>
	{else}
		<h1>Adding new set</h1>
	{/if}
	<form method="post" action="/set/0">
        <input type="text" name="name" value="{$name}" />
        <input type="hidden" name="id" value="{$id}" />
        <input type="submit"/>
	</form>
	{call shared.footer /}
{/template}