{namespace view}

/**
 * Displays a full page with a given questionset
 * @param id
 * @param name
 * @param questions
 * @param owner
 */
{template .set}
	{call shared.header /}
	{call shared.set.single data="all" /}
	<p><a href="/user/{$owner.id}/sets">Back to user's set list</a></p>
	{call shared.footer /}
{/template}